---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Titel">
	<div class="relative">
		<div class="flex items-center justify-center"><h1 class="p-6 text-left text-white text-[72px] font-bold font-instrument leading-[80%] tracking-[-6%]">HØJSKOLE<br>I UD<span class="text-[#59BA41]">LANDET</span></h1></div>
		<div class="px-6 w-full"><img class="rounded-3xl" src="tentimage.svg" alt="image of a tent"></div>
		<div>
			<h3 class="flex items-center justify-center text-[24px] text-black font-instrument font-bold p-6">ER DU KLAR TIL DIT LIVS EVENTYR?</h3>
			<p class="px-6 text-black font-instrument font-regular">HÖJSKOLENDK  brænder for oplevelser, fællesskab og mødet med nye mennesker og  kulturer; derfor laver vi eventyrlige højskoleophold i udlandet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
		</div>
		<img class="w-full absolute top-40" src="treesbg.svg" alt="treessvg">
	</div>
</MainLayout>