<section class="bg-[#59BA41] text-white font-instrument">
    <div class="p-3">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-3">
            <div class="p-3">
                <h1 class="font-bold text-[24px]">HØJSKOLENDK</h1>
                <p>Rosenørns Allé 31</p>
                <p>1970 Frederiksberg</p>
                <p>Danmark</p>
            </div>
            <div class="p-3">
                <h1 class="font-bold text-[24px]">RESOURCER</h1>
                <p>Blog</p>
                <p>Brochure</p>
                <p>Trustpilot</p>
            </div>
            <div class="p-3">
                <h1 class="font-bold text-[24px]">KONTAKT</h1>
                <p>Telefon: 7027 9007</p>
                <p>Mandag til Fredag Kl. 10.00-16.00</p>
                <p>Mail: info@hojskolendk.dk</p>
            </div>
            <div class="p-3">
                <h1 class="font-bold text-[24px]">I SAMARBEJDE MED</h1>
                <img src="/public/samarbejdspartner.png" alt="Samarbejdspartner" />
            </div>
        </div>

        <div class="border-t border-white mt-3 mb-3"></div>

        <div class="grid grid-cols-3 pb-3 text-center">
            <p class="text-[5px] md:text-[12px]">HÖJSKOLENDK er medlem af Rejsegarantifonden.</p>
            <p class="text-[5px] md:text-[12px]">Handelsbetingelser / Cookiepolitik / Data- & Privatlivspolitik</p>
            <p class="text-[5px] md:text-[12px]">Copyright © HÖJSKOLENDK 2022 • CVR 32491162</p>
        </div>
    </div>
</section>
