---
---
<div class="flex flex-wrap items-center justify-between font-instrument font-bold text-black">
    <div class="flex items-center">
        <a href="index.astro"><img src="/public/hojskolen.svg" alt="logo" class="w-24 md:w-40"></a>
    </div>
    <div class="flex flex-wrap justify-end items-center space-x-2 md:space-x-4 text-center md:text-right">
        <div><a href="" class="text-[10px] md:text-[16px] font-instrument font-bold text-black">Højskoleophold</a></div>
        <div><a href="" class="text-[10px] md:text-[16px] font-instrument font-bold text-black">Resourcer</a></div>
        <div><a href="" class="text-[10px] md:text-[16px] font-instrument font-bold text-black">Om Os</a></div>
        <div><a href=""><img src="/public/facebook.svg" alt="facebook" class="w-4 md:w-6"></a></div>
        <div><a href=""><img src="/public/instagram.svg" alt="instagram" class="w-4 md:w-6"></a></div>
        <div><a href=""><img src="/public/tiktok.svg" alt="tiktok" class="w-4 md:w-6"></a></div>
    </div>
</div>
