---
import Button from '../components/Button.astro';
---
<div class="bg-[#FF7B33] m-5 border-solid rounded-xl border font-instrument">
    <div class="p-3">
    <h1 class="text-[24px] font-instrument text-white font-bold text-center">Infomøde</h1>
    <p class="text-[16px] text-white">Hvis du drømmer om et fantastisk rejseeventyr med masser af adventure,  vilde naturoplevelser og spændende kulturmøder så smut forbi et af vores hyggelige infomøder i København eller Aarhus – eller mød os på et  online infomøde.</p> 
    </div>
    <div class="pl-6 pr-6 pt-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="p-3 text-white border border-white rounded">
                <h2 class="font-bold text-[24px]">KØBENHAVN</h2>
                <div class="grid grid-cols-2">
                    <p class="font-bold">12. Juni 2025</p>
                    <p class="text-right">//Kl. 17 - 19</p>
                </div>
            </div>
            <div class="p-3 text-white border border-white rounded">
                <h2 class="font-bold text-[24px]">AARHUS</h2>
                <div class="grid grid-cols-2">
                    <p class="font-bold">15. Juni 2025</p>
                    <p class="text-right">//Kl. 17 - 19</p>
                </div>
            </div>
            <div class="p-3 text-white border border-white rounded">
                <h2 class="font-bold text-[24px]">ONLINE MØDER</h2>
                <div class="grid grid-cols-2">
                    <p class="font-bold">24. April 2025</p>
                    <p class="text-right">//Kl. 17 - 19</p>
                </div>
                <div class="grid grid-cols-2">
                    <p class="font-bold">22. Maj 2025</p>
                    <p class="text-right">//Kl. 17 - 19</p>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center mt-4">
            <Button></Button>
        </div>
    </div>
</div>
