---
const {valueimage="", valueimagealt="", valuep="", valuetitle=""} = Astro.props;
---
<div class="flex flex-col items-center justify-center p-8 md:grid md:grid-cols-11">
    <img class="col-span-1 w-[50px] py-4" src={valueimage} alt={valueimagealt}>
    <div class="col-span-10">
        <h3 class="py-2 text-[32px] font-bold font-instrument leading-[200%] text-[#16250D]">{valuetitle}</h3>
        <p class="text-[#16250D] md:text-[18px] py-2 leading-[200%]">{valuep}</p>
    </div>
</div>